<!doctype html>
<html lang="en">
  <head>
    <title>Team Rosters | Team Info | D'Evelyn Youth Basketball Association</title>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <link href="https://fonts.googleapis.com/css?family=Happy+Monkey" rel="stylesheet">
    <link rel="shortcut icon" type="image/x-icon" href="/images/animal-paw-print_green-t.png" />
    <link rel="stylesheet" type="text/css" href="/main.css">
    <link rel="stylesheet" type="text/css" href="/css/bootstrap-custom2.min.css">
    <script type="text/javascript" async="async" defer="defer" src="/application.js"></script>
  </head>
  <body class="dyba-body">
    <header class="dyba-header"></header>
    <main class="dyba-main">
      <div class="dyba-main-heading">
        <div class="dyba-main-heading-row1">
          <div class="dyba-main-heading-row1-border"></div>
          <div class="dyba-main-heading-row1-image">
            <img class="dyba-main-heading-row1-image-file" src="/images/Jags head white-green.png">
          </div>
          <div class="dyba-main-heading-row1-border"></div>
        </div>
        <div class="dyba-main-heading-row2">TEAM INFO</div>
        <div class="dyba-main-heading-row3"></div>
      </div>
      <div class="dyba-main-content">
        <h2>Team Rosters 2017/18</h2>
        <br>
        <h3>To Be Announced</h3>
        <!-- <div class="dyba-rosters"> -->
          <!-- <ul>
            <li><u>7th Grade Team A</u></li>
            <li>Troy Benko</li>
            <li>Max Grant</li>
            <li>Gavyn Gusmus</li>
            <li>Caton Lodice</li>
            <li>Elijah Lopez</li>
            <li>Owen Marsh</li>
            <li>Jakson Rahm</li>
            <li>Braeden Scheer</li>
            <li>Matt Schottland</li>
            <li>*Coach Brad Marsh</li>
            <li>*Asst Coach Chris Scheer</li>
            <br>
            <li><u>7th Grade Team B</u></li>
            <li>Bodhi Anderson</li>
            <li>Jasen Fridgen</li>
            <li>Evyn Hamblen</li>
            <li>Joe Hime</li>
            <li>Jackson Hobbs</li>
            <li>Kole Nepstad</li>
            <li>Peter Ruess</li>
            <li>Jack Webber</li>
            <li>*Coach Chris Hamblen</li>
            <br>
            <li><u>7th Grade Team C</u></li>
            <li>Andre Da Silva</li>
            <li>Shane Halingstad</li>
            <li>Kian Haynes</li>
            <li>Collin Palmer</li>
            <li>Evan Peth</li>
            <li>Trey Stevenson</li>
            <li>Jack Wahl</li>
            <li>Joseph Zuber</li>
            <li>*Coach Don Stevenson</li>
            <li>*Asst Coach Allen Halingstad</li>
            <br>
            <li><u>6th Grade</u></li>
            <li>Reid Benfield</li>
            <li>Austin Bushlack</li>
            <li>Ethan Bushlack</li>
            <li>Eric Chapman</li>
            <li>Brennan Fuhr</li>
            <li>Elijah Gusmus</li>
            <li>Daine Hart</li>
            <li>Ryan Leoni</li>
            <li>Donovan Lopez</li>
            <li>Daniel Savchenko</li>
            <li>*Coach Ben Gusmus</li>
            <li>*Asst Coach Todd Chapman</li>
            <br>
            <li><u>5th Grade</u></li>
            <li>Jason Berger</li>
            <li>Sean Cerrone</li>
            <li>Tyler Drake</li>
            <li>Nathan Esau</li>
            <li>Vincent Scaturro</li>
            <li>Porter Warren</li>
            <li>Zachary White</li>
            <li>Blake Young</li>
            <li>*Coach Tim Scaturro</li>
            <br>
            <li><u>4th Grade</u></li>
            <li>Treyton Benfield</li>
            <li>Conner Faris</li>
            <li>RJ Lane</li>
            <li>Caleb Mainwaring</li>
            <li>Carson Mielke</li>
            <li>Byron Nelson</li>
            <li>Caleb Passarelli</li>
            <li>Miles Shiskowsky</li>
            <li>*Coach Derek Passarelli</li>
            <br>
            <li><u>2nd Grade Team A</u></li>
            <li>Nico Bennett-Battaglia</li>
            <li>Blake Faris</li>
            <li>Max Koelsch</li>
            <li>Lucas Laurent</li>
            <li>Dalton Marsh</li>
            <li>Gavin Marsh</li>
            <li>Daniel Medina</li>
            <li>Michael Paz</li>
            <li>Jaiden Redford</li>
            <li>*Coach Brad Marsh</li>
            <li>*Asst Coach Michael Paz</li>
            <br>
            <li><u>2nd Grade Team B</u></li>
            <li>Caden Abdella</li>
            <li>Giovanni Edwards</li>
            <li>Dominic Lampert</li>
            <li>Joshua Lampert</li>
            <li>Mase Mahoney</li>
            <li>Cameron McLetchie</li>
            <li>Nash Politte</li>     
            <li>*Coach Hollis Politte</li>
            <li>*Coach Ted Politte</li><br>
          </ul> -->
        <!-- </div> -->
      </div>
    </main>
    <footer class="dyba-footer row"></footer>
  </body>
</html>
