<!doctype html>
<html lang="en">
  <head>
    <title>D'Evelyn Youth Basketball Association</title>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <link href="https://fonts.googleapis.com/css?family=Happy+Monkey" rel="stylesheet">
    <link rel="shortcut icon" type="image/x-icon" href="/images/animal-paw-print_green-t.png">
    <link rel="stylesheet" type="text/css" href="/main.css">
    <link rel="stylesheet" type="text/css" href="/css/bootstrap-custom2.min.css">
    <script type="text/javascript" async="async" defer="defer" src="/application.js"></script>
  </head>
  <body class="dyba-body">
    <header class="dyba-header"></header>
    <main class="dyba-main">
      <div class="dyba-main-heading">
        <div class="dyba-main-heading-row1">
          <div class="dyba-main-heading-row1-border"></div>
          <div class="dyba-main-heading-row1-image">
            <img class="dyba-main-heading-row1-image-file-home" src="/images/Jags head white-green.png">
          </div>
          <div class="dyba-main-heading-row1-border"></div>
        </div>
        <div class="dyba-main-heading-row2">WELCOME</div>
        <div class="dyba-main-heading-row3"></div>
      </div>
      <div class="dyba-main-content">
        <h2>DYBA</h2>
        <p>D'Evelyn Youth Basketball Association is a basketball club that was organized to provide an opportunity for Dennison and current/future D’Evelyn boys to play together. We have teams from Kindergarten through 8th grade. Our teams play in the Jefferson County Basketball Conference and our older kids also play in the Gold Crown league. Our annual membership dues are $30. These funds are used to cover the costs of running the club (and a t-shirt for each player and coach) as well as provide scholarships to players and appreciation gifts to our coaches. Dues are payable in August. You must be a member of the club to play on our teams.</p>
      </div>
    </main>
    <footer class="dyba-footer row"></footer>
  </body>
</html>
